<template>
  <div id="app">
    <router-view/>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
	export default {
	  created() {
	    this.$Progress.start()

	    this.$router.beforeEach((to, from, next) => {
				if (to.fullPath.endsWith('/')) {
					next(to.fullPath.slice(0, -1))
				}

	    	let meta = to.meta.progress

	      if (meta !== undefined) {
	        this.$Progress.parseMeta(meta)
	      }

	      this.$Progress.start()

	      next()
	    })

	    this.$router.afterEach((to, from) => {
	      this.$Progress.finish()
	    })
	  },
	  mounted() {
	    this.$Progress.finish()
	  }
	}
</script>
