@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import 'views/single-page';

@import 'components/form';
@import 'components/button';
@import 'components/navigation';
@import 'components/badge';
@import 'components/card';
@import 'components/checkbox';

@import 'utilities';

@import 'vendors/fontawesome';
@import 'vendors/toast';

*:focus {
	outline: none !important;
}

body {
	background: #fdfefe;
}

a {
	@apply no-underline;
}

i {
	display: inline-flex !important;
}
