.btn {
	@apply px-4 py-2 border rounded text-grey-darker;

	&:focus {
		@apply border-blue;
	}

	&:disabled {
		@apply opacity-50 pointer-events-none;
	}

	&--blue {
		@apply border-blue bg-blue text-white;

		&:hover,
		&:focus {
			@apply border-blue-dark bg-blue-dark;
		}
	}

	&--blue-grey {
		@apply border-blue-grey bg-blue-grey text-white;

		&:hover,
		&:focus {
			@apply border-blue-grey-dark bg-blue-grey-dark;
		}
	}

	&--red {
		@apply border-red bg-red text-white;

		&:hover,
		&:focus {
			@apply border-red-dark bg-red-dark;
		}
	}

	&--teal {
		@apply border-teal bg-teal text-white;

		&:hover,
		&:focus {
			@apply border-teal-dark bg-teal-dark;
		}
	}
}
