input[type='checkbox'] {
	@apply appearance-none relative flex justify-center w-4 h-4 border rounded-sm cursor-pointer transition;

	&:before {
		@apply content absolute h-3 border-r-2 border-b-2 border-white opacity-0 transition;
		width: .375rem;
		transform: rotate(45deg) scale(0);
	}

	&:checked {
		@apply border-blue bg-blue;

		&:before {
			@apply opacity-100;
			transform: rotate(45deg) scale(1);
		}
	}

	& + label {
		@apply whitespace-no-wrap cursor-pointer;
	}
}
