input,
select,
textarea,
button {
	&.invalid {
		@apply border-red;

		&:focus {
			@apply border-red;
		}
	}
}

select,
textarea {
	@apply w-full px-3 py-2 border rounded text-grey-darker;

	&:focus {
		@apply border-blue;
	}
}

textarea {
	@apply h-32;
}
