.pagination {
	@apply list-reset flex;

	&__link {
		@apply flex justify-center items-center min-w-8 h-8 px-2 rounded mx-1 cursor-pointer;

		&:hover {
			@apply bg-teal-lightest text-teal;
		}
		
		.pagination__item.active & {
			@apply pointer-events-none bg-teal text-white;
		}

		.pagination__item.disabled & {
			@apply pointer-events-none opacity-50;
		}
	}
}
