.table {
	@apply w-full border-collapse;

	tbody tr {
		@apply border-t;
	}

	tr.checked {
		@apply bg-blue-lightest;
	}

	th,
	td {
		@apply p-4;
	}

	th {
		@apply font-medium text-left cursor-pointer;
	}

	&__action {
		@apply flex items-center;
	}

	&__sort {
		@apply flex mr-2;

		i {
			&.active {
				@apply text-indigo-light;
			}

			&:not(.active) {
				@apply opacity-50;
			}

			.table__action:hover & {
				opacity: 1;
			}
		}
	}
}
