.tooltip {
	@apply relative;

	&--icon {
		@apply flex justify-center items-center rounded-full;
	}

	&__content {
		@apply absolute block px-2 py-1 bg-grey-darker rounded-sm text-xs text-white whitespace-no-wrap;
		bottom: calc(100% + .25rem);
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: all .15s ease-in-out;
	}

	&:hover &__content {
		opacity: 1;
	}
}
