<template>
	<div class="flex">
		<TheNav :style="[ visibleNav ? { 'display': 'block' } : '' ]"/>
		<div class="w-full lg:ml-64">
			<TheHeader>
				<button
					class="w-6 lg:hidden"
					slot="nav-trigger"
					@click="visibleNav = !visibleNav"
				>
					<div class="bars relative h-px bg-grey-darker"></div>
		    </button>
			</TheHeader>
			<main class="m-4">
				<router-view></router-view>
			</main>
		</div>
		<div
			class="fixed pin z-30 bg-black opacity-50"
			v-if="visibleNav"
			@click="handleClickOutsideNav"
		>
		</div>
	</div>
</template>

<script>
	import TheNav from '@/components/TheNav'
	import TheHeader from '@/components/TheHeader'

	export default {
		components: {
			TheNav,
			TheHeader
		},
		data() {
			return {
				visibleNav: false
			}
		},
		methods: {
			handleClickOutsideNav() {
				if (this.visibleNav) {
					this.visibleNav = false
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.bars {
		&:before,
		&:after {
			@apply absolute pin-l w-full h-px bg-grey-darker;
			content: '';
		}

		&:before {
			top: -.5rem;
		}

		&:after {
			top: .5rem;
		}
	}
</style>
