<template>
	<div>
		<v-headful title="Tạo danh mục"/>
		<div class="card">
			<div class="card__header">
				<h1 class="text-sm font-normal">Tạo danh mục</h1>
				<router-link
					:to="{ name: 'categories' }"
					class="btn btn--blue-grey"
				>
					Trở về
				</router-link>
			</div>
			<div class="card__body">
				<div class="form__group">
					<label class="form__label">
						Tên
					</label>
					<input
						:class="{
							'form__input-text': true,
							'invalid': errors.has('name') || serverErrors.name
						}"
						name="name"
						data-vv-as="Tên"
						v-validate="'required|max:255'"
						v-model="category.name"
					>
					<span
	        	class="form__invalid-feedback"
	        	v-if="errors.has('name') || serverErrors.name"
	        >
	        	{{ errors.first('name') || serverErrors.name[0] }}
	        </span>
				</div>
				<button
					class="btn btn--blue"
					:disabled="stateCreate === 'Đang tạo'"
					@click="createCategory()"
				>
					{{ stateCreate }}
				</button>
			</div>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'

	export default {
		data() {
			return {
				stateCreate: 'Tạo',
				category: {},
				serverErrors: {}
			}
		},
		methods: {
			createCategory() {
				this.$validator.validateAll().then(result => {
					if (result) {
						this.$Progress.start()
						this.stateCreate = 'Đang tạo'

						axios.post('/api/admin/categories', this.category)
						.then(() => {
							this.$Progress.finish()
							this.$router.push({ name: 'categories' })

							toastr.success('Thêm danh mục thành công!')
						})
						.catch(error => {
							this.$Progress.fail()
							this.stateCreate = 'Tạo'
							this.serverErrors = error.response.data.errors
						})
					}
				})
			}
		}
	}
</script>
