<template>
	<div>
		<v-headful title="Danh sách danh mục"/>
		<v-data-table
			table="categories"
			display-table="danh mục"
			:columns="columns"
			:search-columns="searchColumns"
		/>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				columns: [
					{
						name: 'id',
						displayName: 'ID'
					},
					{
						name: 'name',
						displayName: 'Tên'
					}
				],
				searchColumns: ['name']
			}
		}
	}
</script>
