<template>
	<div>
		<v-headful title="Chỉnh sửa danh mục"/>
		<div class="card">
			<div class="card__header">
				<h1 class="text-sm font-normal">Sửa danh mục</h1>
				<router-link
					:to="{ name: 'categories' }"
					class="btn btn--blue-grey"
				>
					Trở về
				</router-link>
			</div>
			<div class="card__body">
				<div class="form__group">
					<label class="form__label">
						Tên
					</label>
					<input
						:class="{
							'form__input-text': true,
							'invalid': errors.has('name') || serverErrors.name
						}"
						name="name"
						data-vv-as="Tên"
						v-validate="'required|max:255'"
						v-model="category.name"
					>
					<span
	        	class="form__invalid-feedback"
	        	v-if="errors.has('name') || serverErrors.name"
	        >
	        	{{ errors.first('name') || serverErrors.name[0] }}
	        </span>
				</div>
				<button
					class="btn btn--teal"
					:disabled="stateUpdate === 'Đang cập nhật'"
					@click="updateCategory()"
				>
					{{ stateUpdate }}
				</button>
			</div>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'

	export default {
		data() {
			return {
				stateUpdate: 'Cập nhật',
				apiUrl: `/api/admin/categories/${this.$route.params.id}`,
				category: {},
				serverErrors: {}
			}
		},
		created() {
			this.getCategory()
		},
		methods: {
			getCategory() {
				this.$Progress.start()

				axios.get(this.apiUrl)
				.then(response => {
					this.$Progress.finish()
					this.category = response.data
				})
			},
			updateCategory() {
				this.$validator.validateAll().then(result => {
					if (result) {
						this.$Progress.start()
						this.stateUpdate = 'Đang cập nhật'

						axios.patch(this.apiUrl, this.category)
						.then(() => {
							this.$Progress.finish()
							this.stateUpdate = 'Cập nhật'
							this.serverErrors = {}

							toastr.success('Cập nhật danh mục thành công!')
						})
						.catch(error => {
							this.$Progress.fail()
							this.stateUpdate = 'Cập nhật'
							this.serverErrors = error.response.data.errors
						})
					}
				})
			}
		}
	}
</script>
