<template>
	<div>
		<div class="flex">
			<div class="card w-1/4 mx-2">
				<div class="card__header border-transparent bg-pink text-white">Người dùng</div>
				<div class="card__body"></div>
			</div>
			<div class="card w-1/4 mx-2">
				<div class="card__header border-transparent bg-teal text-white">Sản phẩm</div>
				<div class="card__body"></div>
			</div>
			<div class="card w-1/4 mx-2">
				<div class="card__header border-transparent bg-indigo text-white">Đơn hàng</div>
				<div class="card__body"></div>
			</div>
			<div class="card w-1/4 mx-2">
				<div class="card__header border-transparent bg-orange text-white">Hộp thư đến</div>
				<div class="card__body"></div>
			</div>
		</div>
	</div>
</template>
