<template>
	<div class="flex justify-center items-center min-h-screen">
    <div class="flex flex-col items-center max-w-xs">
      <div class="card">
        <div class="card__body">
          <form @submit.prevent="login">
          	<div class="mb-4 text-center">
          		<img :src="'../images/logo.png'">
          		<p class="mt-2 px-2 text-grey">Vui lòng nhập thông tin đăng nhập của bạn</p>
          	</div>
            <div class="form__group">
							<label class="form__label">Email</label>
							<input
								:class="{
									'form__input-text': true,
									'invalid': errors.has('email') || serverErrors
								}"
								name="email"
								data-vv-as="Email"
								v-validate="'required'"
								v-model="credentials.email"
							>
		          <span
		          	class="form__invalid-feedback"
		          	v-if="errors.has('email') || serverErrors"
		          >
		          	{{ errors.first('email') || serverErrors }}
		          </span>
						</div>
            <div class="form__group">
		          <label class="form__label">Mật khẩu</label>
							<input
								type="password"
								:class="{
									'form__input-text': true,
									'invalid': errors.has('password')
								}"
								name="password"
								data-vv-as="mật khẩu"
								v-validate="'required'"
								v-model="credentials.password"
							>
		          <span
		          	class="form__invalid-feedback"
		          	v-if="errors.has('password')"
		          >
		          	{{ errors.first('password') }}
		          </span>
		        </div>
	        	<button
	        		class="btn btn--blue w-full"
	        		:disabled="loggingIn"
	        	>
	        		Đăng nhập
	        	</button>
          </form>
        </div>
      </div>
      <p class="mt-4 text-grey text-xs">© 2018 - Bản quyền của công ty Thanh Dược</p>
    </div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				credentials: {},
				loggingIn: false,
				serverErrors: ''
			}
		},
		methods: {
			login() {
				this.$validator.validateAll().then(valid => {
					if (valid) {
						this.loggingIn = true

						axios.post('/admin/login', this.credentials)
						.then(response => {
							// if (response.status === 200) {
								// window.localStorage.setItem('authUser', 'authenticated')
								// this.$router.push({ name: 'dashboard' })
							// }
						})
						.catch(error => {
							this.loggingIn = false
							this.serverErrors = error.response.data.errors.email[0]
						})
					}
				})
			}
		}
	}
</script>
