<template>
	<div class="card">
		<div class="card__header">
			<h1 class="text-sm font-normal">Cập nhật sản phẩm</h1>
			<router-link
				:to="{ name: 'products' }"
				class="btn btn--blue-grey"
			>
				Trở về
			</router-link>
		</div>
		<div class="card__body">
			<div class="form__group">
				<label class="form__label">
					Tên
				</label>
				<input
					:class="{
						'form__input-text': true,
						'invalid': errors.has('name')
					}"
					name="name"
					data-vv-as="Tên"
					v-validate="'required|max:255'"
					v-model="product.name"
				>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('name')"
        >
        	{{ errors.first('name') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Giá
				</label>
				<input
					:class="{
						'form__input-text': true,
						'invalid': errors.has('price')
					}"
					name="price"
					data-vv-as="Giá"
					v-validate="'required|numeric'"
					v-model="product.price"
				>
				<span
					class="form__text"
					v-if="priceFormatted"
				>
					{{ priceFormatted }}
				</span>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('price')"
        >
        	{{ errors.first('price') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Mô tả
				</label>
				<textarea
					:class="{ 'invalid': errors.has('description') }"
					name="description"
					data-vv-as="Mô tả"
					v-validate="'required'"
					v-model="product.description"
				>
				</textarea>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('description')"
        >
        	{{ errors.first('description') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Chi tiết
				</label>
				<textarea
					:class="{ 'invalid': errors.has('detail') }"
					name="detail"
					data-vv-as="Chi tiết"
					v-validate="'required'"
					v-model="product.detail"
				>
				</textarea>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('detail')"
        >
        	{{ errors.first('detail') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Hướng dẫn sử dụng
				</label>
				<textarea
					:class="{ 'invalid': errors.has('usage') }"
					name="usage"
					data-vv-as="Hướng dẫn sử dụng"
					v-validate="'required'"
					v-model="product.usage"
				>
				</textarea>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('usage')"
        >
        	{{ errors.first('usage') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">Danh mục</label>
				<div
					class="flex mb-4"
					v-for="(category, index) in categories"
				>
					<input
						type="checkbox"
						:id="category.id"
						:value="category.id"
						v-model="categoryIds"
					>
					<label
						:for="category.id"
						class="ml-2"
					>
						{{ category.name }}
					</label>
				</div>
			</div>
			<div class="form__group">
				<label class="form__label">Ảnh</label>
				<input
					type="file"
					class="hidden"
					ref="fileInput"
					name="image"
					data-vv-as="hình ảnh"
					v-validate="'required|image'"
					@change="uploadProductImage"
				>
				<img
					:src="imagePreview"
					v-if="imagePreview"
				>
				<div
					class="my-2"
					v-if="image.name"
				>
					{{ image.name }}
				</div>
				<button
					class="w-24 h-24 border rounded text-grey-darker"
					:class="{ 'border-red focus:border-red': errors.has('image') }"
					@click="$refs.fileInput.click()"
				>
					Chọn ảnh
				</button>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('image')"
        >
        	{{ errors.first('image') }}
        </span>
			</div>
		</div>
		<div class="card__footer">
			<button
				class="btn btn--teal"
				:disabled="stateUpdate === 'Đang cập nhật'"
				@click="updateProduct()"
			>
				Cập nhật
			</button>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	
	export default {
		data() {
			return {
				stateUpdate: 'Cập nhật',
				apiUrl: `/api/admin/products/${this.$route.params.id}`,
				categories: {},
				categoryIds: [],
				product: {},
				image: '',
				imagePreview: '',
				attributes: [],
				attribute: '',
				attributeValue: '',
				serverErrors: {}
			}
		},
		computed: {
			priceFormatted() {
				let price = parseInt(this.product.price)

				if (price && Number.isInteger(price) === true) {
					return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price)
				}

				return false
			}
		},
		created() {
			this.getProduct()
			this.getCategories()
		},
		methods: {
			getProduct() {
				this.$Progress.start()

				axios.get(this.apiUrl)
				.then(response => {
					this.$Progress.finish()
					this.product = response.data
				})
			},
			getCategories() {
				this.$Progress.start()

				axios.get('/api/admin/categories')
				.then(response => {
					this.$Progress.finish()
					this.categories = response.data.data
				})
			},
			updateProduct() {
				this.$validator.validateAll().then(valid => {
					if (valid) {
						this.product.category_ids = this.categoryIds

						this.$Progress.start()
						this.stateUpdate = 'Đang cập nhật'

						axios.post('/api/admin/products', this.product)
						.then(response => {
							this.$Progress.finish()
							this.$router.push({ name: 'products' })

							toastr.success('Cập nhật sản phẩm thành công!')
						})
						.catch(error => {
							this.$Progress.fail()
							this.stateUpdate = 'Cập nhật'
							this.serverErrors = error.response.data.errors
						})
					}
				})
			},
			uploadProductImage(e) {
				const fileReader = new FileReader(),
							file = e.target.files[0]

				fileReader.onload = (e) => {
					this.imagePreview = e.target.valid
					this.product.image = e.target.valid
				}

				fileReader.readAsDataURL(file)

				this.image = file
				this.product.image_name = file.name
			}
		}
	}
</script>
