<template>
	<div class="card">
		<div class="card__header">
			<h1 class="text-sm font-normal">Tạo sản phẩm</h1>
			<router-link
				:to="{ name: 'products' }"
				class="btn btn--blue-grey"
			>
				Trở về
			</router-link>
		</div>
		<div class="card__body">
			<div class="form__group">
				<label class="form__label">
					Tên
				</label>
				<input
					:class="{
						'form__input-text': true,
						'invalid': errors.has('name')
					}"
					name="name"
					data-vv-as="Tên"
					v-validate="'required|max:255'"
					v-model="product.name"
				>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('name')"
        >
        	{{ errors.first('name') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Giá
				</label>
				<input
					:class="{
						'form__input-text': true,
						'invalid': errors.has('price')
					}"
					name="price"
					data-vv-as="Giá"
					v-validate="'required|numeric'"
					v-model="product.price"
				>
				<span
					class="form__text"
					v-if="priceFormatted"
				>
					{{ priceFormatted }}
				</span>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('price')"
        >
        	{{ errors.first('price') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Mô tả
				</label>
				<textarea
					:class="{ 'invalid': errors.has('description') }"
					name="description"
					data-vv-as="Mô tả"
					v-validate="'required'"
					v-model="product.description"
				>
				</textarea>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('description')"
        >
        	{{ errors.first('description') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Chi tiết
				</label>
				<textarea
					:class="{ 'invalid': errors.has('detail') }"
					name="detail"
					data-vv-as="Chi tiết"
					v-validate="'required'"
					v-model="product.detail"
				>
				</textarea>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('detail')"
        >
        	{{ errors.first('detail') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">
					Hướng dẫn sử dụng
				</label>
				<textarea
					:class="{ 'invalid': errors.has('usage') }"
					name="usage"
					data-vv-as="Hướng dẫn sử dụng"
					v-validate="'required'"
					v-model="product.usage"
				>
				</textarea>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('usage')"
        >
        	{{ errors.first('usage') }}
        </span>
			</div>
			<div class="form__group">
				<label class="form__label">Danh mục</label>
				<div
					class="flex mb-4"
					v-for="(category, index) in categories"
				>
					<input
						type="checkbox"
						:id="category.id"
						:value="category.id"
						v-model="categoryIds"
					>
					<label
						:for="category.id"
						class="ml-2"
					>
						{{ category.name }}
					</label>
				</div>
			</div>
			<div class="form__group">
				<label class="form__label">Ảnh</label>
				<input
					type="file"
					class="hidden"
					ref="fileInput"
					name="image"
					data-vv-as="hình ảnh"
					v-validate="'required|image'"
					@change="uploadProductImage"
				>
				<div class="flex">
					<button
						class="flex flex-col justify-center items-center w-32 h-32 border border-dashed rounded text-grey-darker"
						:class="{ 'border-red focus:border-red': errors.has('image') }"
						@click="$refs.fileInput.click()"
					>
						<i class="fas fa-image fa-2x"></i>
						<span>Chọn ảnh</span>
					</button>
					<div
						class="w-32 h-32 bg-cover bg-center rounded ml-2"
						:style="{ 'background-image': `url('${imagePreview}')` }"
						v-if="imagePreview"
					>
					</div>
				</div>
				<span
        	class="form__invalid-feedback"
        	v-if="errors.has('image')"
        >
        	{{ errors.first('image') }}
        </span>
			</div>
		</div>
		<div class="card__footer">
			<button
				class="btn btn--blue"
				:disabled="stateCreate === 'Đang tạo'"
				@click="createProduct()"
			>
				{{ stateCreate }}
			</button>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	
	export default {
		data() {
			return {
				stateCreate: 'Tạo',
				categories: {},
				categoryIds: [],
				product: {},
				image: '',
				imagePreview: '',
				attributes: [],
				attribute: '',
				attributeValue: '',
				serverErrors: {}
			}
		},
		computed: {
			priceFormatted() {
				let price = parseInt(this.product.price)

				if (price && Number.isInteger(price) === true) {
					return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price)
				}

				return false
			}
		},
		created() {
			this.getCategories()
		},
		methods: {
			getCategories() {
				this.$Progress.start()

				axios.get('/api/admin/categories')
				.then(response => {
					this.$Progress.finish()
					this.categories = response.data.data
				})
			},
			createProduct() {
				this.$validator.validateAll().then(result => {
					if (result) {
						this.product.category_ids = this.categoryIds

						this.$Progress.start()
						this.stateCreate = 'Đang tạo'

						axios.post('/api/admin/products', this.product)
						.then(response => {
							this.$Progress.finish()
							this.$router.push({ name: 'products' })

							toastr.success('Thêm sản phẩm thành công!')
						})
						.catch(error => {
							this.$Progress.fail()
							this.stateCreate = 'Tạo'
							this.serverErrors = error.response.data.errors
						})
					}
				})
			},
			uploadProductImage(e) {
				const fileReader = new FileReader(),
							file = e.target.files[0]

				fileReader.onload = (e) => {
					this.imagePreview = e.target.result
					this.product.image = e.target.result
				}

				fileReader.readAsDataURL(file)

				this.image = file
				this.product.image_name = file.name
			}
		}
	}
</script>

<style lang="scss">
	// .ql-container {
	// 	@apply rounded-b font-sans text-sm;
	// 	min-height: 10rem;
	// }

	// .ql-toolbar {
	// 	@apply rounded-t;

	// 	&.ql-snow {
	// 		@apply font-sans;
	// 	}
	// }

	// .ql-snow .ql-picker {
	// 	@apply font-normal;

	// 	.ql-font {
	// 		.ql-picker-item:before {
	// 			@apply font-sans;
	// 		}

	// 		.ql-picker-item[data-value='serif']:before {
	// 			@apply font-serif;
	// 		}

	// 		.ql-picker-item[data-value='monospace']:before {
	// 			@apply font-mono;
	// 		}
	// 	}
	// }
</style>
