<template>
	<v-data-table
		table="products"
		display-table="sản phẩm"
		:columns="columns"
		:search-columns="searchColumns"
	/>
</template>

<script>
	export default {
		data() {
			return {
				columns: [
					{
						name: 'id',
						displayName: 'ID'
					},
					{
						name: 'name',
						displayName: 'Tên'
					},
					{
						name: 'price',
						displayName: 'Giá'
					},
					{
						name: 'visibility',
						displayName: 'Hiển thị'
					}
				],
				searchColumns: ['name', 'price']
			}
		}
	}
</script>
