<template>
	<div class="card">
		<div class="card__header">Hồ sơ</div>
		<div class="card__body">
			<form
				class="form"
			 	@submit.prevent="updateProfile"
			>
				<div class="form__group">
					<label
						for="name"
						class="form__label"
					>
						Tên
					</label>
					<input
						id="name"
						:class="{
							'form__text-input': true,
							'is-invalid': errors.has('name')
						}"
						v-validate="'required|max:255'"
						name="name"
						data-vv-as="Tên"
					>
          <span
          	class="form__invalid-feedback"
          	v-if="errors.has('name')"
          >
          	{{ errors.first('name') }}
          </span>
				</div>
				<div class="form__group">
					<label class="form__label">Email</label>
					<input class="form__text-input" disabled>
				</div>
				<div class="form__group">
          <label
						for="password"
						class="form__label"
					>
						Mật khẩu
					</label>
					<input
						type="password"
						id="password"
						:class="{
							'form__text-input': true,
							'is-invalid': errors.has('password')
						}"
						v-validate="'required|min:6|max:255'"
						name="password"
						data-vv-as="mật khẩu"
						ref="password"
					>
          <span
          	class="form__invalid-feedback"
          	v-if="errors.has('password')"
          >
          	{{ errors.first('password') }}
          </span>
        </div>
        <div class="form__group">
          <label
						for="password_confirmation"
						class="form__label"
					>
						Xác nhận mật khẩu
					</label>
					<input
						type="password"
						id="password_confirmation"
						:class="{
							'form__text-input': true,
							'is-invalid': errors.has('password_confirmation')
						}"
						v-validate="'confirmed:password'"
						name="password_confirmation"
						data-vv-as="Xác nhận mật khẩu"
					>
          <span
          	class="form__invalid-feedback"
          	v-if="errors.has('password_confirmation')"
          >
          	{{ errors.first('password_confirmation') }}
          </span>
        </div>
        <button class="btn btn--blue">Cập nhật</button>
			</form>
		</div>
	</div>
</template>

<script>
  import toastr from 'toastr'

  export default {
  	data() {
  		return {
  			permission: {},
  			serverError: null
  		}
  	},
  	created() {
  		this.getProfile()
  	},
  	methods: {
  		getProfile() {
      	this.$Progress.start()

      	axios.get(`/admin/profile`).then(response => {
      		this.profile = response.data
      	})
  		},
  		updateProfile() {
  			this.$validator.validateAll().then(result => {
          if (result) {
          	this.$Progress.start()
          }
        }, error => {
        	this.$Progress.fail()
        	this.serverError = err.response.data.errors.name[0]
        })
  		}
  	}
  }
</script>
