<template>
	<div class="card">
		<div class="card__header">
			<h1 class="text-sm font-normal">Tạo người dùng</h1>
			<router-link
				:to="{ name: 'users' }"
				class="btn btn--blue-grey"
			>
				Trở về
			</router-link>
		</div>
		<div class="card__body">
			<v-form-control
				label="Tên"
				name="name"
				rules="required|max:255"
				v-model="user.name"
			>
			</v-form-control>
			<v-form-control
				type="date"
				label="Ngày sinh"
				name="date_of_birth"
				rules="required"
				v-model="user.date_of_birth"
			/>
			<v-form-control
				label="Số điện thoại"
				name="phone_number"
				:serverError="serverErrors.phone_number"
				rules="required|max:255"
				v-model="user.phone_number"
			>
			</v-form-control>
			<v-form-control
				label="Email"
				name="email"
				:serverError="serverErrors.email"
				rules="required|email"
				v-model="user.email"
			>
			</v-form-control>
			<v-form-control
				label="Mật khẩu"
				type="password"
				name="password"
				rules="required|min:6|max:255"
				v-model="user.password"
			/>
			<v-form-control
				label="Địa chỉ"
				name="address"
				rules="required|max:255"
				v-model="user.address"
			/>
			<v-form-group>
				<select
					:class="{ 'invalid': errors.has('province') }"
					name="province"
					data-vv-as="Tỉnh thành phố"
					v-validate="'required'"
					v-model="user.province"
				>
					<option
						value=""
						disabled
						hidden
					>
						Tỉnh thành phố
					</option>
					<option
						v-for="(province, index) in provinces"
						:value="province"
					>
						{{ province }}
					</option>
				</select>
				<v-form-feedback
					:feedback="errors.first('province')"
					v-if="errors.has('province')"
				/>
			</v-form-group>
			<v-form-control
				label="Người giới thiệu"
				name="referrer"
				rules="required|max:255"
				v-model="user.referrer"
			/>
			<v-form-group>
				<v-form-label label="Hình ảnh"/>
				<input
					type="file"
					class="hidden"
					name="image"
					data-vv-as="Hình ảnh"
					v-validate="'required|image'"
					ref="image"
					@change="uploadProductImage"
					multiple
				>
				<div
					class="flex flex-wrap"
					v-if="previewImages"
				>
					<div
						class="w-32 h-32 bg-cover bg-center rounded mb-4 mr-4"
						:style="{ 'background-image': `url('${previewImage}')` }"
						v-for="(previewImage, index) in previewImages"
					>
					</div>
				</div>
				<button
					class="flex flex-col justify-center items-center w-32 h-32 border rounded text-grey-darker"
					:class="{ 'invalid': errors.has('image') }"
					@click="$refs.image.click()"
				>
					<i class="fas fa-image fa-2x"></i>
					<span>Chọn ảnh</span>
				</button>
				<v-form-feedback
					:feedback="errors.first('image')"
					v-if="errors.has('image')"
				/>
			</v-form-group>
		</div>
		<div class="card__footer">
			<button
				class="btn btn--blue"
				:disabled="stateCreate === 'Đang tạo'"
				@click="createUser"
			>
				{{ stateCreate }}
			</button>
			{{ user }}
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'

	export default {
		data() {
			return {
				stateCreate: 'Tạo',
				provinces: [],
				user: {
					province: '',
					images: []
				},
				previewImages: [],
				serverErrors: {}
			}
		},
		created() {
			this.getProvince()
		},
		methods: {
			getProvince() {
				axios.get('/api/admin/province')
				.then(response => {
					this.provinces = response.data
				})
			},
			uploadProductImage(e) {
				this.previewImages = []

				const files = e.target.files

				Array.prototype.forEach.call(files, file => {
					const fileReader = new FileReader()

					fileReader.onload = (e) => {
						this.previewImages.push(e.target.result)
						this.user.images.push({
							name: `${file.lastModified}.${file.name.split('.')[1]}`,
							content: e.target.result.split(',')[1]
						})
					}

					fileReader.readAsDataURL(file)
				})
			},
			createUser() {
				this.$validator.validateAll().then(result => {
					if (result) {
						this.$Progress.start()
						this.stateCreate = 'Đang tạo'

						axios.post('/api/admin/users', this.user)
						.then(response => {
							this.$Progress.finish()
							this.$router.push({ name: 'users' })

							toastr.success('Tạo người dùng thành công!')
						})
						.catch(error => {
							this.$Progress.fail()
							this.stateCreate = 'Tạo'
							this.serverErrors = error.response.data.errors
						})
					}
				})
			}
		}
	}
</script>
