<template>
	<v-data-table
		table="users"
		display-table="người dùng"
		:columns="columns"
		:search-columns="searchColumns"
	/>
</template>

<script>
	export default {
		data() {
			return {
				columns: [
					{
						name: 'id',
						displayName: 'ID'
					},
					{
						name: 'name',
						displayName: 'Tên'
					},
					{
						name: 'phone_number',
						displayName: 'Số điện thoại'
					},
					{
						name: 'email',
						displayName: 'Email'
					},
					{
						name: 'business_partner_code',
						displayName: 'Mã đối tác kinh doanh'
					},
					{
						name: 'activate',
						displayName: 'Kích hoạt'
					}
				],
				searchColumns: ['name', 'phone_number', 'email', 'business_partner_code']			
			}
		}
	}
</script>
