<template>
  <header class="flex lg:justify-end justify-between p-4 bg-white border-b">
    <slot name="nav-trigger"></slot>
    <ul class="list-reset flex items-center">
      <v-dropdown btn-class="flex items-center ml-4 text-grey">
        <template slot="dropdown-trigger">
          <i class="fas fa-user-circle text-2xl mr-2"></i>
          <i class="fas fa-caret-down"></i>
        </template>
        <template slot="dropdown-content">
          <ul class="dropdown__menu">
            <li>
              <a
                href="/logout"
                class="dropdown__item"
              >
                Đăng xuất
              </a>
            </li>
          </ul>
        </template>
      </v-dropdown>
    </ul>
  </header>
</template>
