<template>
	<nav class="fixed z-40 w-64 h-screen py-4 overflow-y-auto lg:block hidden">
		<section>
			<h2 class="px-6 py-4 text-xs uppercase font-bold tracking-wide">Chung</h2>
			<router-link
				to="/admin/dashboard"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-home w-6 justify-center mr-2"></i>
					<span>Bảng điều khiển</span>
				</div>
			</router-link>
		</section>
		<section class="mt-4">
			<h2 class="px-6 py-4 text-xs uppercase font-bold tracking-wide">Quản lý</h2>
			<router-link
				to="/admin/categories"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-layer-group w-6 justify-center mr-2"></i>
					<span>Danh mục</span>
				</div>
			</router-link>
			<router-link
				to="/admin/products"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-spa w-6 justify-center mr-2"></i>
					<span>Sản phẩm</span>
				</div>
			</router-link>
			<router-link
				to="/admin/users"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-users w-6 justify-center mr-2"></i>
					<span>Người dùng</span>
				</div>
			</router-link>
			<router-link
				to="/admin/orders"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-clipboard-list w-6 justify-center mr-2"></i>
					<span>Đơn hàng</span>
				</div>
				<span class="badge">9</span>
			</router-link>
			<router-link
				to="/admin/admins"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-user-secret w-6 justify-center mr-2"></i>
					<span>Quản trị viên</span>
				</div>
			</router-link>
		</section>
		<section class="mt-4">
			<h2 class="px-6 py-4 text-xs uppercase font-bold tracking-wide">Cá nhân</h2>
			<router-link
				to="/admin/profile"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-id-card w-6 justify-center mr-2"></i>
					<span>Hồ sơ</span>
				</div>
			</router-link>
			<router-link
				to="/admin/dashboard"
				class="flex justify-between items-center pl-8 pr-6 py-4"
			>
				<div class="flex items-center">
					<i class="fas fa-inbox w-6 justify-center mr-2"></i>
					<span>Hộp thư đến</span>
				</div>
				<span class="badge">3</span>
			</router-link>
		</section>
	</nav>
</template>

<style lang="scss" scoped>
	nav {
		background: #2c2e3e;
	}

	h2 {
		color: #868aa8;
	}

	a {
		color: #868aa8;

		&:hover {
			background: #292b3a;
		}

		&.router-link-active {
			color: #716aca;
		}
	}
</style>
