<template>
    <div class="card">
      <div class="card__header">
          <span>Danh sách {{ displayTable }}</span>
          <router-link
            class="btn btn--blue"
            :to="{ name: table + '-create' }"
          >
            Thêm {{ displayTable }}
          </router-link>
      </div>
      <div class="card__body">
        <div class="flex flex-col sm:flex-row justify-between items-center">
          <div class="flex items-center mb-4 sm:mb-0">
            <span>Hiển thị</span>
            <v-dropdown
              class="mx-3"
              btn-class="flex items-center px-3 py-2 border rounded focus:border-blue text-grey-darker"
            >
              <input
                type="hidden"
                v-model="perPage"
              >
              <template slot="dropdown-trigger">
                <span>{{ perPage }}</span>
                <i class="fas fa-angle-down ml-3"></i>
              </template>
              <template slot="dropdown-content">
                <ul class="dropdown__menu">
                  <li
                    class="dropdown__item"
                    v-for="itemsPerPage in itemsPerPages"
                    :key="itemsPerPage"
                    @click="selectItemsPerPage(itemsPerPage)"
                  >
                    <span>{{ itemsPerPage }}</span>
                  </li>
                </ul>
              </template>
            </v-dropdown>
            <span>{{ displayTable }}</span>
          </div>
          <div>
            <input
              class="w-full px-3 py-2 leading-tight border rounded text-grey-darker focus:border-blue"
              v-model="keyword"
              :placeholder="`Tìm kiếm ${displayTable}`"
              @keyup="searchData"
            >
          </div>
        </div>
        <div class="pt-8 overflow-x-auto">
          <div class="relative">
            <table>
              <thead>
                <tr>
                  <th
                    v-for="column in columns"
                    :key="column.name"
                    @click="sortBy(column.name)"
                  >
                    <div class="flex justify-between items-center">
                      <span>{{ column.displayName }}</span>
                      <v-tooltip
                        content="Sắp xếp"
                        class="ml-3"
                      >
                        <div
                          class="flex text-grey-light"
                          slot="tooltip-trigger"
                        >
                          <i
                            :class="{
                              'fas fa-long-arrow-alt-up': true,
                              'text-grey-darker': sortKey === column.name && sortOrder === 'asc'
                            }"
                          >
                              
                          </i>
                          <i
                            :class="{
                              'fas fa-long-arrow-alt-down': true,
                              'text-grey-darker': sortKey === column.name && sortOrder === 'desc'
                            }"
                          >
                          </i>
                        </div>
                      </v-tooltip>
                    </div>
                  </th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in sortedItems"
                  :key="index"
                >
                  <td
                    v-for="column in columns"
                    :key="column.name"
                  >
                    {{ item[column.name] }}
                  </td>
                  <td>
                    <div class="flex">
                      <v-tooltip
                        class="mr-3"
                        content="Chỉnh sửa"
                      >
                        <router-link
                          class="flex text-teal"
                          slot="tooltip-trigger"
                          :to="{ name: table + '-edit', params: { id: item.id } }"
                        >
                          <i class="fas fa-edit"></i>
                        </router-link>
                      </v-tooltip>
                      <v-tooltip content="Xóa">
                        <button
                          class="flex text-red"
                          slot="tooltip-trigger"
                          @click="showModal(item.id)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </v-tooltip>
                      <v-modal
                        v-show="item.id === modalId"
                        @close="closeModal"
                      >
                        <span slot="modal-header">Xóa {{ displayTable }}</span>
                        <span slot="modal-body">Bạn có chắc chắn muốn xóa {{ displayTable }} này?</span>
                        <button
                          class="btn btn--red"
                          slot="modal-footer"
                          :disabled="deleting === 'Đang xóa'"
                          @click="deleteData(item.id, index)"
                        >
                          {{ deleting }}
                        </button>
                      </v-modal>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="process process--search"
              v-if="searching && items.length"
            >
              Đang tìm kiếm...
            </div>
          </div>
        </div>
        <div
          class="flex justify-center mt-4"
          v-if="loading"
        >
          <div class="process">Đang tải dữ liệu...</div>
        </div>
        <div
          class="mt-4 text-center"
          v-if="noData"
        >
          Không có dữ liệu trong bảng
        </div>
        <div
          class="flex justify-center mt-4"
          v-if="searching && !items.length"
        >
          <div class="process">Đang tìm kiếm...</div>
        </div>
        <div
          class="mt-4 text-center"
          v-if="!searching && !noData && keyword.length && !items.length"
        >
          Không tìm thấy kết quả
        </div>
        <div
          class="flex-col sm:flex-row justify-between items-center mt-8 hidden"
          :class="{ 'flex': !loading && !noData }"
        >
          <div class="mb-4 sm:mb-0">
            Hiển thị
              {{ pagination.from }}
            đến
              {{ pagination.to }}
            của
              {{ pagination.total }}
            {{ displayTable }}
            <span v-if="keyword">(được lọc từ {{ totalItems }} {{ displayTable }})</span>
          </div>
          <v-pagination
            :pagination="pagination"
            @navigatePage="navigatePage"
          />
        </div>
      </div>
    </div>
</template>

<script>
  import VPagination from './VPagination'
  import VModal from './VModal'

  export default {
    components: {
      VPagination,
      VModal
    },
    props: {
      table: {
        type: String,
        required: true
      },
      displayTable: {
        type: String,
        required: true
      },
      columns: {
        type: Array,
        required: true
      },
      searchColumns: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        itemsPerPages: [10, 25, 50, 100],
        perPage: 10,
        baseUrl: `/api/admin/${this.table}`,
        items: [],
        pagination: {},
        totalItems: '',
        loading: false,
        noData: false,
        sortKey: 'id',
        sortOrder: 'asc',
        keyword: '',
        searching: false,
        deleting: 'Xóa',
        modalId: '',
        timeout: ''
      }
    },
    computed: {
      sortedItems() {
        return _.orderBy(this.items, this.sortKey, this.sortOrder)
      }
    },
    created() {
      this.getData(this.perPage)
    },
    methods: {
      getData(perPage) {
        this.$Progress.start()
        this.loading = true

        axios.get(this.baseUrl, {
          params: {
            perPage: perPage
          }
        })
        .then(response => {
          this.$Progress.finish()
          this.loading = false
          this.items = response.data.data
          this.pagination = response.data.meta
          this.totalItems = response.data.meta.total

          !this.items.length ? this.noData = true : this.noData = false
        })
      },
      sortBy(sortKey) {
        this.sortKey = sortKey
        this.sortOrder === 'asc' ? this.sortOrder = 'desc' : this.sortOrder = 'asc'
        this.items = this.sortedItems
      },
      selectItemsPerPage(perPage) {
        this.perPage = perPage

        if (!this.noData) {
          this.keyword ? this.searchData(perPage) : this.getData(perPage)
        }
      },
      navigatePage(page) {
        this.$Progress.start()

        if (this.keyword) {
          var apiUrl = '/api/admin/search',
              params = {
                table: this.table,
                columns: this.searchColumns,
                keyword: this.keyword,
                perPage: this.perPage,
                page: page
              }
        } else {
          var apiUrl = this.baseUrl,
              params = {
                perPage: this.perPage,
                page: page
              }
        }
        axios.get(apiUrl, { params: params }).then(response => {
          this.$Progress.finish()
          this.items = response.data.data
          this.pagination = response.data.meta
        })
      },
      searchData(perPage) {
        clearTimeout(this.timeout)

        this.timeout = setTimeout(() => {
          if (!this.noData) {
            this.$Progress.start()
            this.searching = true

            const apiUrl = '/api/admin/search'

            axios.get(apiUrl, {
              params: {
                table: this.table,
                columns: this.searchColumns,
                keyword: this.keyword,
                perPage: this.perPage
              }
            })
            .then(response => {
              this.$Progress.finish()
              this.searching = false
              this.pagination = response.data.meta
              this.items = response.data.data
            })
          }
        }, 500)
      },
      deleteData(id, index) {
        this.$Progress.start()
        this.deleting = 'Đang xóa'

        const deleteUrl = this.baseUrl + `/${id}`

        axios.delete(deleteUrl).then(() => {
          this.$Progress.finish()
          this.deleting = 'Xóa'

          this.items.length === 1 ? this.getData(this.perPage) : this.items.splice(index, 1)
        })
      },
      showModal(id) {
        this.modalId = id
      },
      closeModal() {
        this.modalId = ''
      }
    }
  }
</script>

<style lang="scss" scoped>
  table {
    @apply w-full border border-collapse;

    tbody tr:nth-of-type(even) {
      @apply bg-grey-lighter;
    }

    th,
    td {
      @apply p-3 border-t border-r whitespace-no-wrap;
    }

    th {
      border-bottom-width: 3px;
    }

    th {
      @apply font-medium text-left cursor-pointer;
    }
  }

  .process {
    @apply p-4 bg-white border rounded shadow;

    &--search {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>
