<template>
  <on-click-outside :do="handleClickOutside">
    <div class="dropdown">
      <button
        :class="btnClass"
        @click="open = !open"
      >
        <slot name="dropdown-trigger"></slot>
      </button>
      <div
        class="dropdown__content"
        v-show="open"
      >
        <slot name="dropdown-content"></slot>
      </div>
    </div>
  </on-click-outside>
</template>

<script>
  import OnClickOutside from './OnClickOutside'

  export default {
    components: {
      OnClickOutside
    },
    props: {
      btnClass: String
    },
    data() {
      return {
        open: false
      }
    },
    methods: {
      handleClickOutside() {
        if (this.open) {
          this.open = false
        }
      }
    }
  }
</script>

<style lang="scss">
  .dropdown {
    @apply relative;

    &__content {
      @apply absolute pin-r z-10 mt-1 bg-white border rounded;
    }

    &__menu {
      @apply list-reset py-2;
    }

    &__item {
      @apply flex items-center px-4 py-2 whitespace-no-wrap text-grey-darker cursor-pointer;

      &:hover {
        @apply bg-blue text-white;
      }
    }
  }
</style>
