<template>
	<v-form-group>
		<label>{{ label }}</label>
		<input
			:type="type"
			:class="{ 'invalid': hasError || serverError }"
			:name="name"
			:data-vv-as="label"
			v-validate="rules"
			@input="$emit('input', $event.target.value)"
		>
		<span v-if="hasError || serverError">{{ errors.first(name) || serverError[0] }}</span>
		<slot></slot>
	</v-form-group>
</template>

<script>
	export default {
		inject: ['$validator'],
		props: {
			label: {
				type: String,
				required: true
			},
			type: {
				type: String,
				default: 'text'
			},
			serverError: Array,
			name: {
				type: String,
				required: true
			},
			rules: {
				type: String,
				required: true
			}
		},
		computed: {
			hasError() {
				return this.errors.has(this.name)
			}
		},
	}
</script>

<style lang="scss" scoped>
	label {
		@apply block mb-2 font-medium;
	}

	input {
		@apply w-full px-3 py-2 border rounded text-grey-darker leading-tight;

		&:focus {
			@apply border-blue;
		}

		&.invalid,
		&.invalid:focus {
			@apply border-red;
		}
	}

	span {
		@apply block mt-2 text-red;
	}
</style>
