<template>
  <div
  	class="modal"
    @click="close"
  >
    <div
    	class="modal__content"
    	@click.stop
    >
      <header class="modal__header">
        <slot name="modal-header"></slot>
        <button
          class="flex text-grey-darker"
          @click="close"
        >
          <i class="fas fa-times"></i>
        </button>
      </header>
      <div class="modal__body">
        <slot name="modal-body"></slot>
      </div>
      <footer class="modal__footer">
        <button
          class="btn"
          @click="close"
        >
          Hủy
        </button>
        <slot name="modal-footer"></slot>
      </footer>
    </div>
  </div>
</template>

<script>
	export default {
		methods: {
      close() {
        this.$emit('close')
      }
    }
	}
</script>

<style lang="scss" scoped>
	.modal {
		@apply fixed pin flex justify-center items-center z-50;
		background: rgba(#000, .5);

		&__content {
			@apply bg-white rounded shadow-md;
		}

		&__header {
			@apply flex justify-between items-center p-4 font-medium;
		}

		&__body {
			@apply px-4 py-8 border-t border-b;
		}

		&__footer {
			@apply flex justify-end p-4;

			button:not(:last-child) {
				@apply mr-1;
			}
		}
	}
</style>
