<template>
	<div class="tooltip">
		<slot name="tooltip-trigger"></slot>
		<span class="tooltip__content">{{ content }}</span>
	</div>
</template>

<script>
	export default {
		name: 'tooltip',
		props: {
			content: {
				type: String,
				required: true
			}
		}
	}
</script>

<style lang="scss" scoped>
	.tooltip {
		position: relative;

		&__content {
			@apply absolute block px-2 py-1 bg-grey-darkest rounded text-xs text-white whitespace-no-wrap;
			bottom: calc(100% + .25rem);
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			transition: all .15s linear;
		}

		&:hover &__content {
			opacity: 1;
		}
	}
</style>
